*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.black {
  background-color: black;
}

.grey {
  background-color: #212529;
}

.small {
  height: 350px;
}

.big {
  height: 300px;
}
